@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Write common class for tags like (h1, p, input, select) here */
@layer base {
	* {
		@apply m-0 p-0 box-border;
	}
	body {
		@apply font-poppins bg-app-green/10;
	}
}

/* Write attribute class here */

@layer utilities {
	/* here */
	.swiper-custom {
		--swiper-navigation-color: #fff;
		--swiper-pagination-color: #fff;
	}

	.swiper-custom .swiper-button-next,
	.swiper-custom .swiper-button-prev {
		@apply bg-gray-600 rounded-full w-[40px] md:w-[50px] h-[40px] md:h-[50px] flex items-center justify-center mx-0 md:mx-10;
	}

	.swiper-custom .swiper-button-next::after,
	.swiper-custom .swiper-button-prev::after {
		@apply text-white bg-gray-600/50 font-bold text-lg md:text-xl;
	}

	.swiper-custom-class {
		--swiper-navigation-color: #fff;
		--swiper-pagination-color: #fff;
		overflow: visible;
	}

	.swiper-custom-class .swiper-button-next,
	.swiper-custom-class .swiper-button-prev {
		@apply bg-gray-600 rounded-full w-[40px] md:w-[50px] h-[40px] md:h-[50px] flex items-center justify-center;
	}

	.swiper-custom-class .swiper-button-next::after,
	.swiper-custom-class .swiper-button-prev::after {
		@apply text-white bg-gray-600/50 font-bold text-lg md:text-xl;
	}
}
